body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    background-color: rgb(17, 17, 17);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}